# IDE and Editor files
.idea/
.vscode/

# Python
__pycache__/
*.pyc
*.egg-info/

# Data and Model files
*.npy
*.STL
*.ipynb

# Exception for data
data/
output/

# Configuration files
.flake8
pyrightconfig.json
.windsurfrules
